:root {
    --neonBlue: #03f8fc;
    --greyBlue: #9fbdba;
    --light: #d9d9d9;
    --dark: #1e1e1e;
    --darkBlue: #1f202b;
    --pink: #bd9fa6;
    --grey: #9c9a9a;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 34rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-section {
    position: relative;
    padding: 1.25rem 5rem;
    margin: 1rem;
    width: 100%;
    color: white;
    z-index: 1;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    font-size: 0.9rem;
}

.hero-top-side {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.hero-cust {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.cust-button {
    cursor: pointer;
    position: relative;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    color: var(--light);
    font-weight: bold;
    margin: 0;
}

.cust-button:hover {
    background-color: var(--neonBlue);
    color: var(--dark);
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

#business-btn {
    background-color: var(--darkBlue);
    color: var(--light);
    display: flex;
    align-items: center;
    border-radius: 0.45rem;
    height: 2.5rem;
    padding: 0.65rem 1rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#business-btn:hover {
    background-color: var(--neonBlue);
    color: var(--dark);
}

#icon {
    padding-right: 0.5rem;
}

#logo {
    background-image: url('../../assets/hero/logo-transparent.png');
    background-size: cover;
    height: 5rem;
    width: 10rem;
    margin-top: -4rem;
}

#hero-heading {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--light);
    text-shadow: 2px 2px 4px var(--dark), -2px -2px 4px var(--darkBlue);
    margin-top: -2rem;
}

#hero-desc {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: var(--light);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -2px -2px 4px rgba(0, 0, 0, 0.7);
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    gap: 1rem;
    width: 100%;
    max-width: 800px;
}

.search-bar {
    padding: 0.75rem 1.25rem;
    font-size: 1.2rem;
    width: 100%;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 0.75rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}

.search-bar:focus {
    border-color: var(--neonBlue);
    background-color: white;
    box-shadow: 0 0 10px var(--greyBlue);
}

.search-btn {
    padding: 0.75rem 1.5rem;
    background-color: var(--darkBlue);
    color: var(--light);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    height: 50px;
}

.search-btn:hover {
    background-color: var(--darkBlue);
    transform: translateY(-2px);
    box-shadow: 0 0 10px var(--neonBlue);
}

.search-btn:active {
    background-color: var(--neonBlue);
    transform: translateY(0);
}

.services-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

.services-container a {
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -2px -2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
}

.services-container a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust the distance of the underline from the text */
    left: 0;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: var(--neonBlue);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.services-container a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}